@import url("https://ui.dev/font");

:root {
  --black: #000;
  --white: #fff;
  --red: #f32827;
  --purple: #a42ce9;
  --blue: #2d7fea;
  --yellow: #f4f73e;
  --pink: #eb30c1;
  --gold: #ffd500;
  --aqua: #2febd2;
  --gray: #282c35;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--black);
  color: var(--white);
}

a {
  color: var(--gold);
  text-decoration: none;
}

li {
  list-style-type: none;
}

.border-container {
  padding: 20px;
  margin: 0;
  display: flex;
  border: 1px solid white;
  border-radius: 1%;
  color: white;
}

.border-item {
  width: 20vw;
  height: 12px;
}

.container {
  position: relative;
  max-width: 1000px;
  min-width: 280px;
  margin: 0 auto;
  padding: 20px;
}

/* NAVIGATION */

.nav-menu {
  display: inline-block;
}

.nav-menu-item {
  margin-right: 8px;
  display: inline-block;
}

/* Tweet styles */

.tweet-user-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.tweet-user-elements {
  display: inline-block;
  padding-left: 20px;
}

.tweet-user-name {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 2px;
}

.tweet-date {
  font-weight: lighter;
  color: grey;
}

.tweet-tweet {
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0px;
}

.tweet-container {
  margin: 20px 150px;
}

.tweet-like-button {
  border: none;
  background-color: black;
  padding: 0;
  text-decoration: none;
}

/* NEW TWEET */

.new-tweet-container {
  text-align: center;
  margin-top: 40px;
  font-size: 25px;
}

.new-tweet-button {
  display: block;
  background-color: var(--pink);
  text-align: center;
  color: white;
  border: none;
  padding: 7px 10px;
  border-radius: 2%;
  margin: 15px auto;
  width: 300px;
  font-weight: 900;
  font-size: 15px;
  border: 2px solid black;
}
